[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
django = "*"
djangorestframework = "*"
tox = "*"

[dev-packages]
"flake8" = "*"
pytest-django = "*"
ipython = "*"

[requires]
python_version = "3.6"
